<div class="container-fluid">
  <header>
    
  </header>

  <section class="socialAppList">
  <div class="d-flex flex-row">
    <div class="socialTile m-1" (click)="signInApp('facebook')">
      <div class="col-xs-12">
        <i class="socialIcon fa fa-facebook-official" aria-hidden="true"></i>
        <label class="iconInfo"><i *ngIf="socialToken.facebookToken !== ''" class="fa fa-check" aria-hidden="true"></i>facebook</label>
      </div>
      
    </div>
    <div class="socialTile m-1" (click)="signInApp('google-plus')">
      <div class="col-xs-12">
        <i class="socialIcon fa fa-google-plus-official" aria-hidden="true"></i>
        <label class="iconInfo"><i *ngIf="socialToken.googleplusToken !== ''" class="fa fa-check" aria-hidden="true"></i>Googleplus</label>
      </div>  
    </div>
    <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>
  </div>
  </section>
</div>